body {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #687c5a;
  font-family: Arial;

}

.lobby-container {
  background-color: #cff3ad;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.spinner {
  margin: 0 auto 20px;
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}


button{
display:flex ;
height: 50px;
width: 300px; 
justify-self: center;
background-color:#687c5a;
color:black;
font-size: 25px;"
text-align: center;
border-radius: 10px;
border: none;
position: relative;
top: -10px;
}

button:hover{
  background-color: #607153;
  color: black;
  cursor: pointer;
}


  


@keyframes spin {
  to { transform: rotate(360deg); }
}

h1 {
  margin-bottom: 10px;
  color: black;
}

.player {
  display: flex;
  align-items: center;
}

.player.joined {
  background-color: #e0f7fa;
  border-radius: 10px;
  padding: 10px;
}

.player.empty {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 8px;
}

.player.empty .avatar {
  background-color: #bbb;
}

#speler-lijst{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10;

}

p{
    margin-left: 10px;
}

#alles{
  display: flex;
  flex-direction: column;
  gap: 4px;
}