body {
  background-color: rgb(196, 154, 119);
}

.parent-div {
  display: flex;
}

.team1 {
  width: 300px;
  position: fixed;
  right: 20px;
  top: 50px;
}
.team2 {
  width: 300px;
  position: fixed;
  left: 20px;
  top: 50px;
}

.team1,
player {
  background-color: rgb(102, 189, 188);
  margin-bottom: 20px;
  text-align: end;
  font-size: 40px;
  padding: 20px;
}
.team2,
player {
  background-color: rgb(182, 140, 132);
  margin-bottom: 20px;
  font-size: 40px;
  padding: 20px;
}

.boardPic {
  height: auto;
  width: 67vb;
  justify-content: center;
  display: flex;
  margin-bottom: 150%;
  padding: 20px;
  transform: translate(58vb, 10vh);
}

.letters {
  transform: translate(-9vb, 69vh);
  font-size: 5vh;
  display: grid;
  text-align: center;
  width: 20vb;
  align-items: center;
  height: 20vh;
  grid-template-columns: 13vb 13vb 13vb 13vb 13vb;
  grid-template-rows: 15vh;
  border-radius: 50vh;
}

.letter::before {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7vb;
  height: 7vh;
  background: #f0fce5;
  border-radius: 50vh;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: -1;
}

.letter {
  display: flex;
  background: #cff3ad;
  border: 1vb solid #f0fce5;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
  font-family: Arial;
  z-index: -1;
  border-radius: 500vb;
  padding: 4vh 2vb;
  width: 6vb;
  height: 2vh;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}



.letter:hover {
  background-color: #055c05;
 }

.letter.selected {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #055c05;
  background-color: #055c05;
}


.clock {
  position: fixed;
  left: 49.2%;
  font-size: 40px;
  background-color: green;
  padding: 5px 8px;
  border-radius: 100px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 9; /*lol*/

  display: none;
}

#Placeholderbox {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#WinText {
  position: absolute;
  font-size: clamp(1.5rem, 5vw, 3rem);
}
/*Ik word gek, ik hou dit voor nu*/
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Buttons {
  display: flex;
  flex-direction: normal;
  gap: 1vw;
}

.PlayAgain_Button {
  background-color: #15c10c;
  border: none;
  border-radius: 20px;
  width: 18vw;
  padding: 4vh;
  color: #ffffff;
  font-size: 2.5vw;
}
.PlayAgain_Button:hover {
  background-color: #ce2323;
}
.PlayAgain_Button:active {
  transform: scale(0.95);
}

.Back_StartScreen_Button {
  background-color: #e8552b;
  border: none;
  border-radius: 20px;
  width: 18vw;
  padding: 4vh;
  color: #ffffff;
  font-size: 2.5vw;
}
.Back_StartScreen_Button:hover {
  background-color: #ce4823;
}
.Back_StartScreen_Button:active {
  transform: scale(0.95);
}

.active {
  background-color: black;
}

#gridshit {
  display: grid;
  gap: 2px;
}

.idk {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}

.selector {
  vertical-align: middle;
  font-size: 50px;
}
