body {
  background-color: #687c5a;
  color: white;
  width: 400px;
  height: 750px;
  margin-left: 40%;
  margin-top: 5%;
}

button{
    background-color: #687c5a;
    border-radius: 20px;
    color: white;
    height: 4vh;
    width: 19vb;
    font-size: 3vb;
    
}

#registreer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border-style: solid;
    border-width: 5px;
    border-color:#cff3ad ;
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    height: 520px;
    font-size: 25px;
    background-color: #cff3ad;
    color: black;
    position: relative;
    left: 19%;
}

#errorMessage {
    position: absolute;
    top: 80%;
}

#button {
    margin-top: 15px;
}

.input{
    background-color: #687c5a;
    color: white;
    height: 3vh;
    width: 23vb;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
}
