body {
  background-color: #687c5a;
}

#fullhud {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 2vh;
  box-sizing: border-box;
  gap: 5%;
}

#account_button {
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 1;
}

#SOER {
  font-size: 6vw;
  color: #ffffff;
}

.profile_button {
  border: none;
  background: none;
  cursor: pointer;

  img {
    width: 10vw;
    height: 5vh;
    border: 2px solid #449d46;
    transition: transform 50s;
  }

  img:hover {
    transform: scale(100);
  }
}

.blur {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.4);
  z-index: 10;
}


/* hele belangrijke animaties */
@keyframes funnyanimation{
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  /* 30% {
    opacity: 0.5;
    transform: rotate(100deg) scale(2);
  }
  40% {
    opacity: 0.65;
    transform: rotate(100deg) scale(1000);
  }
  50% {
    opacity: 0.8;
    transform: rotate(100deg) scale(2);
  }
  69% {
    opacity: 1;
    transform: rotate(10000deg) scale(2);
  }
  70% {
    transform: rotate(7200deg) scale(1000);
  } */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* 
@keyframes bgColor {
  10% {
    background-color: #a43535;
  }
  20% {
    background-color: #ff7b00;
  }
  30% {
    background-color: #ffff51;
  }
  40% {
    background-color: #a7ff4e;
  }
  50% {
    background-color: #7addfe;
  }
  60% {
    background-color: #6b6bfd;
  }
  70% {
    background-color: #ca61ff;
  }
  80% {
    background-color: #ff54af;
  }
  90% {
    background-color: #f3bbff;
  }
} */

.profile_page {
  background: #cff3ad;
  border-radius: 16px;
  padding: 30px;
  width: 50vw;
  height: 50vh;
  text-align: center;
  animation: funnyanimation 0.8s ease forwards;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  background:  #cff3ad;
  border-radius: 12px;
  padding: 20px;
  width: 30vw;
  height: 30vh;
  text-align: center;
  animation: funnyanimation 0.8s ease forwards;
}

#Interactibles {

  gap: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

#Buttons {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Gamename {
  display: flex;
  /* font-size: 10vw; */
  justify-content: center;
  align-items: center;
  /* color: #ffffff; */
  img {
    width: 60vw;
  }
}

/* #Loc_Start_Button {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateX(-50%);
} */
.Start_Button {
  background-color: #cff3ad;
  border: none;
  border-radius: 20px;
  width: 20vw;
  padding: 2.5vh;
  color: #000000;
  font-size: 4vw;
  transition: all 0.2s ease;
}
/* .Start_Button:hover {
  background-color: #269f52;
} */
.somethingstartbutton:hover .Start_Button {
  border-radius: 20px 20px 0 0;
  padding-bottom: 2.5vh; 
}

.somethingstartbutton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startmenu {
  position: absolute;
  top: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;

  background-color: #dff9c6;
  border: 2px solid #269f52;
  border-top: none;
  border-radius: 0 0 20px 20px;
  width: 100%;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  z-index: 5;

  button {
    background-color: #cff3ad;
    border: none;
    border-radius: 12px;
    padding: 1vh 2vw;
    font-size: 1.5vw;
  }
}
.startmenu button:hover {
  background-color: #269f52;
}

.startmenu button:active {
  transform: scale(0.95);
}
.somethingstartbutton:hover .startmenu {
  max-height: 200px;
  opacity: 1;

  /* lol */
  /* animation: funnyanimation 0.8s ease forwards; */
}


/* #Loc_HTP_Button {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translateX(-50%);
} */


.HTP_Button {
  background-color: #e8552b;
  border: none;
  border-radius: 20px;
  width: 18vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  box-sizing: border-box;
  color: #000000;
  font-size: 2.5vw;
}
.HTP_Button:hover {
  background-color: #ce4823;
}
.HTP_Button:active {
  transform: scale(0.95);
}

#stupid_ass_box {
    display: flex;
    flex-direction: column;
    background-color: #727272;
    border-radius: 30px;
    gap: 1vh;
    padding: 30px;
    max-width: 30vw;
}


.playersDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}

#nameInput {
  padding: 4%;
  width: 80%;
  border: none;
  border-radius: 5px;
}
.Add_Name_Button {
  background-color: #1ed120;
  width: 3vw;
  height: 4.5vh;
  min-width: 35px;
  min-height: 35px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}
.Add_Name_Button:hover {
  background-color: #1bb31d;
}
.Add_Name_Button:active {
  transform: scale(0.9);
}

#another_stupid_box {
  background-color: #cbcbcb;
  border-radius: 5px;
  width: 100%;
  min-height: 25vh;
}

#playernamelistthingy {
  text-align: center;
}

#players {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
}

.player {
  background-color: #b8b9ce;
  border-radius: 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  button {
    background-color: #ff2e2e;
    width: 2vw;
    height: 2vh;
    min-width: 20px;
    min-height: 20px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
  }
}

#foutmelding {
  color: rgb(255, 37, 37);
}

.login_button{
  background-color: #687c5a;
  border-radius: 4px;

}

.register_button{
  background-color: #687c5a;
  border-radius: 4px;

}

.close-btn{
  background-color: #687c5a;
  border-radius: 4px;
  width: 40px;
  
}

.knop{
  display: flex;
  justify-content: center;
  
}


.profile_button_hide {
  display: none;
}
